body {
    background-color: #343a40;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    padding: 5px;
    color:#e9ecef;
}

select, option {
    background-color: #495057;
    color: #e9ecef;
}